In [1]:
import pandas as pd
import numpy as np

In [132]:
data=pd.read_csv('Assignment5_data.csv',names=['l1','l2'])
data

      l1     l2
0    Ram  Shyam
1  Shyam  Harry
2  Harry   Lucy
3   Lucy   Shiv
4   Shiv   Shiv
5   Jake   Hana
6   Hana  Beast
7  Beast  Beast
8  Shady  Shady
9    Nox    Nox

In [131]:
for i in range(data.l1.count()):
    temp=[]
    temp.append(data.l1[i])
    for j in range(i,data.l1.count()): 
        if(data.l1[j]!=data.l2[j]):
            temp.append(data.l2[j])
        else:
            break
    print(*temp)

Ram Shyam Harry Lucy Shiv
Shyam Harry Lucy Shiv
Harry Lucy Shiv
Lucy Shiv
Shiv
Jake Hana Beast
Hana Beast
Beast
Shady
Nox